a {
  text-decoration: none;
  padding-bottom: .2em;
}

.navbar{
  position: sticky;
  margin-bottom: 2em;
  z-index: 1;
}

nav {
  font-family: verdana, sans-serif;
}

nav ul li a:link,
nav ul li a:visited {
  color: #6a6a6aa5;

}

nav ul li a:focus,
nav ul li a:hover,
nav ul li a:active {
  color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  background-color: #111111;
  width: 100%;
}

nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

nav ul li a {
  display: block;
  border: 1px solid;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 0.7em;
}